<!-- register.component.html -->
<div class="register-container">
  <h2>Create New Account</h2>
  <form (ngSubmit)="onRegister()">
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" name="username" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email" name="email" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" name="password" required>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary" class="full-width-button">
      Register
    </button>
  </form>

  <button mat-flat-button color="accent"
          class="full-width-button"
          (click)="navigateToLogin()">
    Back to Login
  </button>
</div>
